# Python Version 3.9

llama-index
pypdf
python-dotenv
pandas
spotipy
SpeechRecognition
Selenium
pywhatkit
whatsapp-python
pywin32
python-box
icecream
torch
nltk
scikit-learn
spacy
fuzzywuzzy
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
screen-brightness-control
opencv-python
mediapipe
pycaw


