# Python Version 3.9

pypdf
python-dotenv
pandas
spotipy
SpeechRecognition
Selenium
pywhatkit
whatsapp-python
pywin32
python-box
torch
nltk
scikit-learn
spacy
fuzzywuzzy
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
screen-brightness-control
opencv-python
mediapipe
pycaw
discord
google-generativeai
PyPDF2
faiss_cpu
langchain-google-genai==1.0.3
langchain-text-splitters==0.0.1
langchain-community==0.0.37
langchain==0.1.17